* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 107px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    background-color: #f6f3ee;
    position: fixed;
    z-index: 2;
}

/* .nav_btns {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 10px;
} */

.btn_imagen,
.btn_texto,
.btn_modo,
.btn_cerrar__imagen,
.btn_cerrar__texto {
    font-size: 15px;
    border: none;
    padding-inline: 11px;
    background-color: transparent;
}

.btn_cerrar__imagen,
.btn_cerrar__texto {
    font-weight: bold;
    font-size: 26px;
    position: relative;
    left: 270px;
    top: 8px;
    color: #7d6d50;
}

.icono_imagen {
    background: url(imagenes/img_btns_nav/imagen_claro.png);
}

.icono_texto {
    background: url(imagenes/img_btns_nav/texto_claro.png);
}

.icono_modo {
    background-image: url(imagenes/img_btns_nav/foco_claro.png);
}

.icono_imagen,
.icono_texto,
.icono_modo {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
    margin: -4px;
}

.imagen,
.texto,
.modo {
    padding-inline: 4px;
}

main {
    /* height: calc(100vh - 107px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(139, 171, 221); */
    background-image: url(imagenes/img_fondo/flores.png);
    background-size: 750px;
    padding: 70px 20px;
    position: relative;
    top: 107px;
}

.meme {
    height: 335px;
    position: sticky;
    top: 107px;
    z-index: 2;
}

.meme_tex__superior,
.meme_tex__inferior {
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 16px;
    border: 1px solid #9f8e6f;
    background-color: #eee7d7;
    position: absolute;
}

.meme_tex__inferior {
    bottom: 0;
}

.meme_img {
    border: 1px solid #9f8e6f;
    background-color: #f6f3eed6;
    height: 100%;
    background-size: cover;
}

.btn_descargar {
    position: relative;
    left: 98px;
    margin-top: 36px;
    padding: 15px;
}

/* aside {
    border: 1px solid;
    margin-top: 70px;
} */

.contenedor_imagen,
.contenedor_texto {
    display: none;
}

.contenedor_filtros,
.contenedor_texto {
    border: 1px solid #9f8e6f;
    background-color: #d9d4ca70;
    line-height: 36px;
    padding-inline: 16px;
    /* filter: sepia(1); */
    margin-top: 30px;
}

.stylo_label {
    display: flex;
    justify-content: space-around;
    border: 1px solid #9f8e6f;
    padding-top: 10px;
    align-items: center;
}

.img_url,
.img_pc {
    border: 1px solid #9f8e6f;
    width: 107px;
    height: 50px;
    border-radius: 4px;
    background-color: #f6f3ee;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.img_url {
    background-image: url(imagenes/img_imagen/url_claro.png);
    background-size: 40px;
}

.img_pc {
    background-image: url(imagenes/img_imagen/pc_claro.png);
    background-size: 35px;
}

input.archivo_pc,
input.archivo_url {
    display: none;
}

input.archivo_url,
.texto_superior,
.texto_inferior {
    width: 100%;
    height: 2rem;
    border: 1px solid #9f8e6f;
    border-radius: 4px;
}

.texto_superior::placeholder,
.texto_inferior::placeholder {
    padding-top: 5px;
}

input.archivo_url {
    margin-top: 4px;
}

::placeholder {
    padding-left: 5px;
}

.fondo_contenedor {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #9f8e6f;
    padding: 10px;
}

.fondo_input,
.fondo_menu {
    width: calc(50% - 7px);
    border: 1px solid #9f8e6f;
    background-color: #f6f3ee;
    border-radius: 4px;
}

.fondo_input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* input color circulo */
.color {
    background-color: transparent;
    width: 39px;
    height: 39px;
    border: none;
    cursor: pointer;
}

.color::-webkit-color-swatch {
    border-radius: 50%;
}

.span_color {
    width: 70px;
    font-size: 18px;
    letter-spacing: 1px;
}

input {
    accent-color: #a18551;
}

/* option {
    color: #9f8e6f;
} */

.ocultar {
    display: none;
}

.btn_reestablecer {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-block: 7px;
}

.btn_alineacion {
    width: 40px;
    height: 40px;
    border: 1px solid;
    border-radius: 4px;
    /* font-size: 15px; */
    /* padding-inline: 11px; */
}

.icono_izq,
.icono_centro,
.icono_der {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.icono_izq {
    background-image: url(imagenes/img_texto/izq_claro.png);
    background-size: 20px;
}

.icono_centro {
    background-image: url(imagenes/img_texto/centro_claro.png);
}

.icono_der {
    background-image: url(imagenes/img_texto/der_claro.png);
}